<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" alt="Angular Architects" />
      </div>
    </a>

    <a href="/" class="simple-text logo-normal"> Flights 42 </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/flights/flight-search">
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/charts">
        <p>Charts</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/dynamic-chart">
        <i class="ti-pie-chart"></i>
        <p>Dynamic Chart</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/deferred-charts">
        <i class="ti-pie-chart"></i>
        <p>Deferred Charts</p>
      </a>
    </li>
  </ul>
</div>
