<div class="card" [class.selected]="isSelected">
  <div class="card-header">
    <h2 class="title">{{ item.from | city: 'short' }} - {{ item.to | city: 'short' }}</h2>
  </div>

  <div class="card-body">
    <p>
      Flight-No.: #{{ item.id }}
      @if (item.delayed) {
        <span> (delayed)</span>
      }
    </p>
    <p [class.delayed]="item.delayed">Date: {{ item | flightDate: datePipe | date: 'dd.MM.YYYY HH:mm' }}</p>
    <!--<p [class.delayed]="item.delayed">Date: {{ item.date | date: 'dd.MM.YYYY HH:mm' }}</p>-->
    <p>
      <ng-content></ng-content>
    </p>
  </div>
</div>

{{ blink() }}
