ErrorDocument 404 /index.html
FallbackResource /index.html

# Redirects
<IfModule mod_rewrite.c>
	RewriteEngine On

# HTTPS Redirect
	RewriteCond %{HTTPS} =off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Angular
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]

  RewriteRule ^(.*) /index.html [NC,L]
</IfModule>
