<h1>The Schoberspitz and ...?</h1>

<img
  class="full-width"
  width="2596"
  height="1890"
  ngSrc="/assets/img/photos/grimming_from_glaeserkoppe.jpg"
  alt="Photo showing Grimming from the Gläserkoppe"
  priority
/>

<div style="width: 100%; height: 4200px"></div>

<img
  class="half-width"
  width="914"
  height="1218"
  ngSrc="assets/img/photos/snow_riesneralm.jpg"
  alt="Photo showing Grimming from the Gläserkoppe"
/>

<img
  class="half-width"
  width="914"
  height="1218"
  ngSrc="assets/img/photos/sun_glaeserkoppe.jpg"
  alt="Photo showing Grimming from the Gläserkoppe"
/>
